<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">创建库存</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <label for="stockName">名称：</label>
                <input type="text" class="form-control" id="stockName" placeholder="请输入库存名称"/>
            </li>
            <li class="list-group-item">
                <label for="stockType">类型：</label>
                <input type="text" class="form-control" id="stockType" placeholder="请输入库存类型"/>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-default">提交</button>
            </li>
        </ul>
    </div>
</div>

<script th:src="@{/jquery-1.10.2.min.js}" type="text/javascript"></script><!-- 2 -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script><!-- 2 -->

<script th:inline="javascript">

  </script>

</body>
</html>